@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

@import url("https://fonts.googleapis.com/css2?family=PT+Serif:ital,wght@0,400;0,700;1,400;1,700&family=Work+Sans:wght@200&display=swaphttps://fonts.googleapis.com/css2?family=PT+Serif:ital,wght@0,400;0,700;1,400;1,700&family=Shadows+Into+Light&family=Work+Sans:wght@200&display=swap");

.card{
    @apply static;
}

/* #titleText1 {
    animation: titleText1 linear;
    animation-timeline: view();
    transform: translateX(150px);
}
@keyframes titleText1 {
    100% {
        transform: translateX(-100px);
    }
} */

@keyframes moveLeft {
    from { transform: translateX(100%); }
    to { transform: translateX(-100%); }
  }

  /* Apply the animation to the element */
  #titleText1 {
    
    right: 0;
    animation: moveLeft linear;
  }

  
